<!doctype html>
<html lang="en" ng-app="app">
<head>
  <meta charset="GBK">
  <title>Google Phone Gallery</title>
  <link rel="stylesheet" href="css/app.css">
  <link rel="stylesheet" href="css/bootstrap.css">
  <script src="js/jquery.js"></script>
  <script src="lib/angular/angular.js"></script>
  <script src="js/ng-infinite-scroll.js"></script>
  <script src="js/controllers.js"></script>
  <style>
    a {
        cursor: pointer;
    }
  </style>
</head>
<body> 

  <div class="container-fluid" ng-controller="phoneListController">
    <div class="row-fluid">
      <div class="span2">
        <!--Sidebar content-->
        Search: <input ng-model="query">
        Search2: <input ng-model="query2">
        Sort by:
        <select ng-model="orderProp">
          <option value="name">Alphabetical</option>
          <option value="age">Newest</option>
        </select>

      </div>
      <div class="span10">
        <!--Body content-->

        <ul class="phones" infinite-scroll="loadMore()"  infinite-scroll-distance='0'>
          <li ng-repeat="phone in phones | filter:query |filter:query2 | orderBy:orderProp" ng-init="show=true">
          <span ng-click="edit(this)" ng-show='show'><a>{{phone.name | nameFilter}}</a></span><input type="text" ng-model="phone.name" ng-hide="show" ng-keypress="sub($event,phone)"/><button ng-click="removePhone(phone,1)">remove</button>
          <p>{{phone.snippet}}</p>
          </li>
        </ul>

      </div>
    </div>

  </div>
</body>
</html>
